.colorToolbar {
  position: relative;
  top: 500px;
  z-index: 1;

  min-width: 180px;
  max-width: calc(100vw - 24px);
  height: 100%;
  max-height: 70vh;

  overflow-y: auto;

  background-color: white;
  box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 3px 6px, rgb(15 15 15 / 20%) 0px 9px 24px;
  border-radius: 3px;
}

.colorToolbar h2 {
  color: rgba(55, 53, 47, 0.6);
  font-size: 11px;
  font-weight: 500;
  padding: 0 14px;
}

.colorToolbar .color {
  font-size: 14px;
  line-height: 120%;
  padding: 3px 14px;
  display: flex;
  align-items: center;
}
.colorToolbar .color:hover {
  background-color: rgba(55, 53, 47, 0.08);
}

.colorThumbnail {
  width: 22px;
  height: 22px;
  margin-right: 6px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  border-radius: 3px;
  font-weight: 500;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
}