.todoList li {
  list-style-type: '☐';
}
.todoList .done {
  list-style-type: '☑︎';
}

blockquote {
  margin: 14px 0;
  padding: 0 16px;
  border-left: 3px solid rgb(55, 53, 47);
}

.callout {
  width: 100%;
  padding: 16px;
  
  background-color: rgba(247, 247, 245, 0.7);
  border-radius: 3px;
}

.contentArea .pageLink {
  font-weight: bold;
  /* text-decoration: underline; */
  border-bottom: 1px solid rgb(222,222,221);
}