.menu {
  font-weight: normal;
  margin: 0;
  padding: 0;
  list-style: none;
  color: black;
  font-size: 14px;
}
.wideMenu {
  width: 400px;
}

.menu li {
  padding: 6px 12px 6px 6px;
}
.menu li.grid {
  display: grid;
  grid-template-columns: 30px 1fr;
  justify-items: start;
  align-items: baseline;
}
.menu li.iconNameButtonGrid {
  display: grid;
  grid-template-columns: 30px 1fr min-content;
  justify-items: start;
  align-items: center;
}
.menu li.rightButtonGrid {
  display: grid;
  grid-template-columns: 1fr min-content;
  justify-items: start;
  align-items: baseline;
}

.menu .icon {
  justify-self: center;
}

.menu li:not(.noHover):hover {
  background-color: rgba(55, 53, 47, 0.08);
  cursor: pointer;
}
.menu li.noHover:hover {
  background-color: white !important;
  cursor: auto;
}

.menu h2 {
  margin: 0;
  font-size: 11px;
  color: rgba(55, 53, 47, 0.6);
  font-weight: 500;
}

.menu.topBorder {
  border-top: 1px solid rgb(237, 237, 236);
}