.page {
  margin: 6rem 12rem;

  color: rgb(55, 53, 47);
}

.pageIcon {
  font-size: 400%;
  width: min-content;
}

.placeholder { 
  color: rgb(175, 174, 172);
}

.titlePlaceholder { 
  color: rgb(225, 225, 224);
}

.content textarea, .content input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: none;
  padding: 0;
  resize: none;
  width: 100%;
}
.content textarea {
  height: 100vh; /* this is a terrible fix. */
}

.content textarea:focus, .content input {
  outline: none;
}

.pageContainer>nav {
  color: rgb(55, 53, 47);
  position: fixed;
  width: calc(100vw - 15rem);
  
  background-color: white;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  padding: 12px;

  font-size: 14px;
}


.newPageMenu {
  color: rgba(55, 53, 47, 0.4);
  font-size: 16px;
}

.newPageMenu button.linklike {
  color: rgba(55, 53, 47, 0.4);
  background-color: transparent;
  border: none;
  padding: 0;
  width: 100%;
  height: 32px;
  font-size: 16px;
  text-align: left;
}

.newPageMenu button.linklike:hover {
  background-color: rgba(46, 170, 220, 0.15);
}

.newPageMenu h2 {
  margin-top: 24px;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 500;
}




.pageDbInfo {
  display: grid;
  grid-template-columns: 160px 1fr;
}
hr {
  border-top: 1px solid rgb(234, 234, 233);
  border-left: none;
  border-right: none;
  border-bottom: none;
}