.currentSelectOptions {
  background-color: rgb(245, 245, 243);
  border-bottom: 1px solid rgb(234, 234, 232);
  padding: 6px;
}

.selectOptions {
  margin: 0;
  padding: 0;
  list-style: none;
}
.selectOptions li {
  padding: 6px 12px;
}

.selectOptions .instructions {
  padding-top: 12px;
  font-weight: bold;
  font-size: 12px;
  color: rgb(135, 134, 131);
}

.selectOptionDiv {
  display: flex;
  justify-content: space-between;
}

.selectOptionDiv:hover {
  background-color: rgb(239, 239, 239);
}

.moreButton {
  display: none;
  /* background-color: transparent; */
  /* border: none; */
}

.selectOptionDiv:hover .moreButton {
  display: inline;
}