.toolbarContainer {
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  opacity: 0;
}
.spanToolbar {
  display: flex;
  height: 32px;
  margin-bottom: 12px;
  width: fit-content;

  background-color: white;
  border-radius: 3px;
  color: rgb(55, 53, 47);

  box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 3px 6px, rgb(15 15 15 / 20%) 0px 9px 24px;
}
.spanToolbar button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.spanToolbar button:hover {
  background-color: rgba(55, 53, 47, 0.08);
}

/* button-specific styles */
.boldButton {
  font-weight: bold;
}
.italicButton {
  font-style: italic;
}
.underlineButton {
  text-decoration: underline;
}
.strikethroughButton {
  text-decoration: line-through;
}

/* active marks */
.activeMark {
  color: rgb(55, 174, 219);
}

/* dropdown menus */
.chevronDown {
  width: 10px;
  height: 100%;
  display: block;
  fill: rgba(55, 53, 47, 0.3);
  flex-shrink: 0;
  backface-visibility: hidden;
  margin-left: 3px;
}